services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "${DB_PORT}"
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: django_backend
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/static
    ports:
      - "8000:8000"
    expose:
      - "8000"
    depends_on:
      - db
      - redis

  redis:
    image: redis:7
    container_name: django_redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: redis-cli ping
      interval: 3s
      timeout: 3s
      retries: 3

  celery:
    build: .
    container_name: django_celery
    command: celery -A shop_project worker -l info -P solo
    env_file:
      - .env
    depends_on:
      - redis
      - db

#  celery-beat:
#    build: .
#    container_name: django_celery_beat
#    command: celery -A shop_project beat -l info
#    env_file:
#      - .env
#    depends_on:
#      - redis
#      - db

#  nginx:
#    build:
#      context: ./nginx
#    container_name: nginx_proxy
#    ports:
#      - "80:80"
#    volumes:
#      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
#      - static_volume:/app/static
#    depends_on:
#      - backend



networks:
  default:

volumes:
  static_volume:
  postgres_data:
  redis_data:
