name: django_shop_project
services:
  db:
    image: postgres:16
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5433"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 3

  migrate:
    build: .
    command: python manage.py migrate
    env_file: .env
    environment:
      POSTGRES_HOST: db
    depends_on:
      db:
        condition: service_healthy

  backend:
    build: .
    command: sh -c "python manage.py collectstatic --no-input && gunicorn shop_project.wsgi:application --bind 0.0.0.0:8000"
    expose:
      - "8000"
    env_file: .env
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379/1
    volumes:
      - .:/app
      - static_volume:/app/static
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/ || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully

  redis:
    image: redis:7
    volumes:
      - redis_data:/data
    expose:
      - "6380"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 3s
      timeout: 3s
      retries: 3

  celery:
    build: .
    command: celery -A shop_project worker -l info -P solo
    env_file: .env
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379/1
    volumes:
      - .:/app
    depends_on:
      redis:
        condition: service_healthy

  nginx:
    build: ./nginx
    restart: always
    ports:
      - "81:80"
    volumes:
      - ./media:/app/media
      - static_volume:/app/static
    depends_on:
      backend:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:
  static_volume:
