{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h1 class="mb-4">Свяжитесь с нами</h1>

{% if success_message %}
<div class="alert alert-success" role="alert">
    {{ success_message }}
</div>
{% endif %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="mb-3">
        {{ form.message.label_tag }}
        {{ form.message }}
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<hr class="my-5">
<p><strong>Адрес: </strong>Орловская обл., д. Овсянниково, пер. Самарский, д. 39</p>
<p><strong>Телефон: </strong>+7 (920) 086-41-92</p>
<p><strong>Email: </strong>cardinal3300@gmail.com</p>
{% endblock %}
