{% extends 'base.html' %}

{% block title %}{{ view.object|default_if_none:"Добавить товар" }}{% endblock %}

{% block content %}
<div class="card shadow-sm mx-auto" style="max-width: 500px;">
    <div class="card-header bg-dark text-white">
        <h5 class="mb-0">
            {% if view.object %}
                ✏️ Редактировать товар
            {% else %}
                ➕ Добавить товар
            {% endif %}
        </h5>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-flex justify-content-between mt-3">
                <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Назад</a>
                <button type="submit" class="btn btn-outline-primary">
                    {% if view.object %}
                        ✏️ Сохранить изменения
                    {% else %}
                        ✏️ Добавить товар
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}